<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textforME.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDD3D4FA1D50A78E00623E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD3D5131D50A78E00623E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD3D51E1D50A78E00623E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
